/* для планшетов до 768 */
@media (max-width: 768px) {
    .container{
        width: 100%;
        padding: 0 1vw;
        min-width: 275px;
        margin: 0 auto;
    }
    .header-inner{
        height: 50px;
        width: 100%;
        position: relative;        
        }
    .nav{
        display: none;
        }
    
    .contact a{
        font-size: 18px;
        margin-right: 70px;
    }
    .link_call{
        display: none;
    }
    .logo-img{
        width: 80px;
    }
    .hamb-menu{
        width: 35px;
        height: 26px;
        border: 1px solid #000;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .hamp-item{
        position: absolute;
        width: 24px;
        height: 2px;
        background: #000;            
        left: calc(50% - 12px);
        transition: 0.5s;
        transform-origin: 50% 50%;
    }
    .hamp-item-1{
        top: 7px;            
    }
    .hamp-item-2{
        top: 12px;
    }
    .hamp-item-3{
        top: 17px;
    }
    .hamb-menu:hover .hamp-item-1{
        transform: rotate(45deg);
        /* left: calc(50% - 12px); */
        top: calc(50%);
    }
    .hamb-menu:hover .hamp-item-3{
        transform: rotate(-45deg);
        /* left: calc(50% -12px); */
        top: calc(50%);
    }
    .hamb-menu:hover .hamp-item-2{
        transform: scale(0)
    }
    .contact{
        margin-right: 55px;
    }
    .promo h1{
    max-width: 760px;
    width: auto;
    font-size: 2rem;
    line-height: 2 rem;
    }
    .promo h3{
        font-style: 1.2rem;
        line-height: 1.4rem;
        text-align: center;
        margin-top: 1rem;
    }
    .btn-cta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 40px;
        gap: 20px;
        background: #DBC2AC;
        border-radius: 50px;   
        height: 40px;
        line-height: 40px;
        font-size: 1.1rem;
        margin-top: 1.4rem; 
    }
}